USE [Proyecto_formativo]
GO
/****** Object:  Table [dbo].[DF_53]    Script Date: 7/06/2024 2:33:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DF_53](
	[FICHA] [int] NOT NULL,
	[PROGRAMA] [varchar](150) NOT NULL,
	[VERSION_PROGRAMA] [int] NOT NULL,
	[RESPUESTA] [varchar](100) NOT NULL,
	[FECHA_INICIO] [datetime] NOT NULL,
	[FECHA_FIN] [datetime] NOT NULL,
	[ESTADO_FICHA] [varchar](100) NOT NULL,
	[PROGRAMA_ESPECIAL] [varchar](100) NOT NULL,
	[EMPRESA_TIPO_DOCUMENTO] [varchar](10) NOT NULL,
	[EMPRESA_NUMERO_DOCUMENTO] [varchar](30) NOT NULL,
	[EMPRESA] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DF_54]    Script Date: 7/06/2024 2:33:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DF_54](
	[FICHA_CARACTERIZACION] [int] NOT NULL,
	[APRENDICES_ETAPA_PRACTICA] [int] NOT NULL,
	[CORRECTAMENTE_PROGRAMADA] [varchar](5) NOT NULL,
	[CONTRATO] [int] NOT NULL,
	[PASANTIA] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[DF_53] ([FICHA], [PROGRAMA], [VERSION_PROGRAMA], [RESPUESTA], [FECHA_INICIO], [FECHA_FIN], [ESTADO_FICHA], [PROGRAMA_ESPECIAL], [EMPRESA_TIPO_DOCUMENTO], [EMPRESA_NUMERO_DOCUMENTO], [EMPRESA]) VALUES (2965626, N'BÁSICO EN OPERACIÓN Y MANTENIMIENTO DE MAQUINARIA PESADA (RETROCARGADOR)', 2, N'CURSO ESPECIAL', CAST(N'2024-04-22T00:00:00.000' AS DateTime), CAST(N'2024-04-25T00:00:00.000' AS DateTime), N'Terminada', N'ATENCION A INSTITUCIONES', N'NIT', N'800095983', N'ALCALDIA MUNICIPAL DE ROSAS')
INSERT [dbo].[DF_53] ([FICHA], [PROGRAMA], [VERSION_PROGRAMA], [RESPUESTA], [FECHA_INICIO], [FECHA_FIN], [ESTADO_FICHA], [PROGRAMA_ESPECIAL], [EMPRESA_TIPO_DOCUMENTO], [EMPRESA_NUMERO_DOCUMENTO], [EMPRESA]) VALUES (2911059, N'DECORACION EN GLOBOS', 1, N'CURSO ESPECIAL', CAST(N'2024-02-14T00:00:00.000' AS DateTime), CAST(N'2024-02-26T00:00:00.000' AS DateTime), N'Terminada', N'ATENCION A INSTITUCIONES', N'NIT', N'8915015795', N'RED UNIDOS')
INSERT [dbo].[DF_53] ([FICHA], [PROGRAMA], [VERSION_PROGRAMA], [RESPUESTA], [FECHA_INICIO], [FECHA_FIN], [ESTADO_FICHA], [PROGRAMA_ESPECIAL], [EMPRESA_TIPO_DOCUMENTO], [EMPRESA_NUMERO_DOCUMENTO], [EMPRESA]) VALUES (2911669, N'DECORACION EN GLOBOS', 1, N'CURSO ESPECIAL', CAST(N'2024-02-15T00:00:00.000' AS DateTime), CAST(N'2024-03-06T00:00:00.000' AS DateTime), N'Terminada', N'ATENCION A INSTITUCIONES', N'NIT', N'89999341', N'DEMANDA SOCIAL (SENA)')
GO
INSERT [dbo].[DF_54] ([FICHA_CARACTERIZACION], [APRENDICES_ETAPA_PRACTICA], [CORRECTAMENTE_PROGRAMADA], [CONTRATO], [PASANTIA]) VALUES (2394497, 17, N'SI', 6, 10)
INSERT [dbo].[DF_54] ([FICHA_CARACTERIZACION], [APRENDICES_ETAPA_PRACTICA], [CORRECTAMENTE_PROGRAMADA], [CONTRATO], [PASANTIA]) VALUES (2394713, 11, N'SI', 10, 1)
INSERT [dbo].[DF_54] ([FICHA_CARACTERIZACION], [APRENDICES_ETAPA_PRACTICA], [CORRECTAMENTE_PROGRAMADA], [CONTRATO], [PASANTIA]) VALUES (2395143, 18, N'SI', 0, 17)
GO
